.navbar
  max-width: 1216px
  margin: auto
  &__top
    display: flex
    align-items: center
    // justify-content: space-between
    padding-top: 24px
    padding-bottom: 24px
  &__bottom
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
  &__menu
    display: flex
    align-items: center
    justify-content: space-between
    min-width: 100%
    padding: 0px
    margin: 0px
  &__city
    margin-left: 16px
  &__search
    margin-left: 61px
  &__favorites
    margin-left: 183px
  &__user
    color: inherit
    margin-left: 40px
    text-decoration: none
  &__arrow
    position: absolute
    margin-right: 16px
    z-index: 1
    background: #ffffff
    display: block
    right: 0px
    height: 14px
    &-link
      fill: none
      max-width: 100%
      max-height: 100%
.city
  display: flex
  align-items: center
  // position: relative
  &__icon
    margin-right: 8px
.search
  display: flex
  align-items: center
  position: relative
  height: 48px
  width: 592px
  &__input
    background: #f1f1f1
    border-radius: 100px
    padding: 0px
    // padding-top: 0
    // padding-bottom: 0
    padding-left: 48px
    padding-right: 8px
    border: 2px solid #f1f1f1
    width: 100%
    height: 100%
    &::placeholder
      text-align: center
  &__icon
    position: absolute
    top: 50%
    left: 16px
    transform: translateY(-50%)
.favorites
  display: flex
  align-items: center
  &__icon
    height: 15px
    margin-right: 10.5px
  &__counter
    display: block
.user
  display: flex
  align-items: center
  &__name
    margin-right: 7px
.menu
  overflow: hidden
  &::before
    content: ""
    z-index: 1
    display: block
    position: absolute
    right: 0px
    height: 32px
    width: 96px
    background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 30%,rgba(255, 255, 255, 0) 100%)    
  &__item
    list-style-type: none
  &__link
    color: inherit
    text-decoration: none
